/* services.css */

.page-header {
    text-align: center;
    padding: 2rem;
}

.page-header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.page-header p {
    font-size: 1.2rem;
    max-width: 70%;
    margin: 0 auto;
}

.service-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.service-category {
    flex: 1 0 300px; /* Each category takes up 300px minimum */
    margin: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-category h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.service-grid {
    display: grid;
    grid-template-columns: 1fr; /* Stack services vertically on smaller screens */
    grid-gap: 1rem;
}


@media (min-width: 768px) {
  .service-grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .service-category {
      flex-basis: 45%; /* Adjust percentage as needed */
  }
}